.videos h1{
    margin: 0 1.5rem;
}

.video_section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 9;
    margin: 0 1.5rem;
}


.video_container {
    display:flex;
    flex-direction: column;
}

.video_bottom_section {
    display: flex;
    align-items:flex-start;
    margin-top: 0.5rem;
}

.thumbnail_img {
    border-radius: 10px;
    background-color: #aaa;
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
}

.channel_icon {
    border-radius: 50%;
    margin-right: .75rem;
    background-color: #aaa;
}

.video_details {
    display: flex;
    flex-direction: column;
}

.video_title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .2rem;
    text-decoration: None;
    color: black;
}

.video_channel_name {
    margin-bottom: .05rem;
    text-decoration: None;
}

.video_channel_name:hover {
    color: #111;
}

.video_channel_name, .video_metadata {
    color: #555;
    font-size: 14px;
}