.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position:fixed;
    width:100%;
    top: 0px;
    background-color:white;
}

.profile_picture {
    border-radius: 50%;
}

.nav_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right:30px;
}

.uploadButton {
    display: flex; /* Use Flexbox to center the text */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Make it circular */
    color: black; /* Color of the text */
    border: none;
    cursor: pointer;
    font-size: 10px;
    padding: 0.4em;
  }